@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  top:0;
  width: 100%;
  background: #413B38;
  z-index: 4;
}

.logo{
  height:130px;
  width:250px;
  cursor: pointer;
}

.logo_img{
  height:100%;
  width:100%;
  object-fit: contain;
}

nav .wrapper{
  position: relative;
  max-width: 1550px;
  height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f_logo{
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.wrapper .nav-items{
  display: inline-flex;
}

.nav-items li{
  list-style: none;
}

.nav-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 5px;
}

.nav-items li a:hover{
  background: #332820;
}

.hero{
  padding:2% 5%;
  margin-top:60px;
}
.greeting{
  font-size: 100px;
  font-weight: bold;
}

.hero_logo{
  color:white;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding:0 5%;
}

.explore{
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;
}

.explore_btn{
  background-color: #534c48;
  border-radius: 15px;
  border:0;
  outline: none;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
  margin-right: 4%;
  text-align: center;
  cursor:pointer;
  box-shadow: 0px 6px rgb(46, 5, 15);
}

.explore_btn:active{
  translate: 0 6px;
  box-shadow: 0 0;
}

.intro{
  font-size: 30px;
  font-weight: 600;
}

.bg{
  /* background-image: url("dog_bg.jpg");
  background-size: cover; */
  background-color:#feae11;
}

svg{
  position:absolute;
}

.dog{
  position: absolute;
  right:0;
  top:200px;
  /* height:666.66px; */
  width: 1100px;
}

.fb_div{
  margin-top:120px;
  padding:5% 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fb_form{
  max-width: 500px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fb_name{
  font-size: 20px;
}
.fb_submit {
  background-color: #f7013a;
  border-radius: 15px;
  border:0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  cursor:pointer;
  box-shadow: 0px 5px rgb(46, 5, 15);
}

.fb_submit:active{
  translate: 0 5px;
  box-shadow: 0 0;
}

#fb_box{
  resize: none;
  padding:5%;
  margin-top:15px;
}

.fb_header{
  display: flex;
  text-align: right;
}
/* 
.icon{
  font-size: 3rem;
  vertical-align: top;
} */

.footer{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  height:200px;
  background-color: white;
}

.f_wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_list{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  min-width: max-content;
}

.contact_list li{
  list-style: none;
  min-width: max-content;
  margin: 3% 2%;
  font-size: 24px;
  font-weight: 200;
}

.contact_list li a{
  vertical-align: middle;
  text-decoration: none;
  color:black;
}

.c_icons{
  vertical-align: middle;
}

hr{
  width: 90%;
  border-width: 1px;
  border-bottom: 0;
  border-color: rgb(75, 75, 75);
}

.f_logo{
  color: black;
}

/* @media (max-width: 1600px){

  .greeting{
    font-size: 80px;
  }

  .content{
    padding-bottom: 5%;
  }

  .greeting{
    font-size: 90px;
  }

} */
