@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #F8F0E5;
}

nav{
  position: fixed;
  top:0;
  width: 100%;
  background: #0F2C59;
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a, .f_logo{
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.wrapper .nav-items{
  display: inline-flex;
}

.nav-items li{
  list-style: none;
}

.nav-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 5px;
}

.nav-items li a:hover{
  background: #000363;
}

.hero{
  display: flex;
  padding:5%;
  margin-top:90px;
  line-height: 120px;
}
.greeting{
  font-size: 100px;
  font-weight: bold;
}

.hero_logo{
  color:#0F2C59;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:0 5%;
}

.explore{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.explore_btn{
  background-color: #7b654c;
  border-radius: 15px;
  border:0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  cursor:pointer;
  box-shadow: 0px 5px rgb(46, 5, 15);
  margin:2%;
}

.intro{
  padding-right:5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.fb_div{
  padding: 5%;
  background-color: white;
}

.fb_form{
  max-width: 500px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fb_name{
  font-size: 20px;
}
.fb_submit {
  background-color: #f7013a;
  border-radius: 15px;
  border:0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  cursor:pointer;
  box-shadow: 0px 5px rgb(46, 5, 15);
}

#fb_box{
  resize: none;
}

.fb_header{
  display: inline-flex;
}

.icon{
  font-size: 3rem;
  vertical-align: top;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  height:200px;
  background-color: white;
}

.f_wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_list{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  min-width: max-content;
}

.contact_list li{
  list-style: none;
  min-width: max-content;
  margin: 3% 2%;
  font-size: 24px;
  font-weight: 200;
}

.contact_list li a{
  text-decoration: none;
  color:black;
}

hr{
  width: 90%;
  border-width: 1px;
  border-bottom: 0;
  border-color: rgb(75, 75, 75);
}

.f_logo{
  color: black;
}

@media (max-width: 1600px){

  .greeting{
    font-size: 80px;
  }

  .petspic{
    width:50vw;
  }

  .content{
    padding-bottom: 5%;
  }

  .greeting{
    font-size: 90px;
  }

}